<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
        <add name="Arkanis" 
            providerName="MySql.Data.MySqlClient"
            connectionString="server=localhost;port=3306;database=mycontext;uid=root;password=Pa$$w0rd"/>
    </connectionStrings>
</configuration>
